#div{
    border:1px solid rgba(183, 176, 176);
    border-radius: 5px;
    width:200px;
}
#input{
    margin: 10px;
    width: 85%;
    font-size: 20px;
}
#btn-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#btn{
    width: 45px;
    height: 45px;
    margin: 3px;
}